#paginate {
	width: 700px;
	height: 30px;
	position: relative;
	margin: 20px auto 45px auto;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	/*background-color: #f68500;*/
}

#paginate>a {
	text-decoration: none;
	color: #424242;
	margin-left: 40px;
	padding: 2px 10px;
}

#paginate>a:hover {
	color: #3397EB;
}

#paginate>strong {
	text-decoration: none;
	background-color: #3397EB;
	color: #fff;
	margin-left: 40px;
	padding: 2px 10px;
	border-radius: 50px;
}

#paginate>span>i {
	color: #bdbdbd;
	margin-left: 40px;
	padding: 2px 10px;
}